@using ControleDeContatos.Enums
@model UsuarioModel
@{
    ViewData["Title"] = "Editar Usuário";
}


<div class="text-center">
    <h1 class="display-4">Editar Usuário</h1>
</div>


<form asp-controller="Usuario" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite seu nome">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite seu email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite seu login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-group">
        <label for="senha">Perfil</label>
        <Div>
            <select class="form-select" aria-label="Default select example" asp-for="Perfil">
                <option value="0">Selecione</option>
                <option value="@PerfilEnum.Admin">Administrador</option>
                <option value="@PerfilEnum.Padrao">Padrão</option>
            </select>
            @Html.ValidationMessageFor(x => x.Perfil)
        </Div>
    </div>

    <div>
        <label for="dataCriacao">Data de criação: @Model.DataCadastro</label>
    </div>

    <div>
        <label for="dataAtualizacao">Data de atualização: @Model.DataAtualizacao</label>
    </div>
    <br />

    <button type="submit" class="btn btn-primary btn-block">Editar</button>

    <a class="btn btn-secondary btn-block" role="button" asp-asp-controller="Usuario" asp-action="Index">Voltar</a>
</form>